/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Containers
        2.1 General Container
        2.2 Main Container
        2.3 Search Container
        2.4 Pokemon Containers
    3. Search Results
    4. Pokemon Items
    5. Notes Section
    6. Buttons
////////////////////////////////////////////////////////////////////////*/

/* 1. Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* 2. Containers */
/* 2.1 General Container */
.general-container {
    background-color: #D9D9D9;
    padding-top: 15px;
}

/* 2.2 Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    margin-right: 20%;
    max-width: 1200px;
    margin-left: 20%;
    padding-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* 2.3 Search Container */
.search-container, .caught-pokemon-container, .not-caught-pokemon-container, .notes-container {
    width: 100%;
    padding-bottom: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    color: #333;
}

/* 2.4 Pokemon Containers */
.caught-pokemon-container, .not-caught-pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caught-pokemon-list, .not-caught-pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* 3. Search Results */
.search-container input {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
}

.search-results {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
    margin-top: 5px;
    padding: 10px;
}

.search-result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item input {
    margin-right: 10px;
}

.search-result-item span {
    flex-grow: 1;
}

/* 4. Pokemon Items */
.pokemon-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.pokemon-item.selected {
    background-color: #90EE90;
    border-color: #90EE90;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.pokemon-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.pokemon-item span {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
}

.pokemon-item button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-top: auto; /* Pushes the button to the bottom */
}

.pokemon-item button:hover {
    background-color: #c82333;
}

.not-caught-pokemon-item button {
    background-color: #007bff;
}

.not-caught-pokemon-item button:hover {
    background-color: #0056b3;
}

/* 5. Notes Section */
.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.notes-fieldset {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-fieldset legend {
    margin: 0;
    padding: 0 5px;
    background: #fff;
    font-weight: bold;
    position: absolute;
    top: -10px;
    font-size: 16px;
    color: #333;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.notes-container textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: none;
    font-size: 16px;
    resize: vertical;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}

.notes-container textarea:focus {
    border: none;
}

/* 6. Buttons */
button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.clear-all-button {
    background-color: #ff4444;
    margin-top: 20px;
    border-radius: 6px;
}

.clear-all-button:hover {
    background-color: #cc0000;
}

.info-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #007bff;
    cursor: pointer;
    display: none;
}

.pokemon-item:hover .info-icon {
    display: block;
}

.note-indicator {
    color: red;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: top;
}
