/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typography
    3. Containers
        3.1 Parent Container
        3.2 Pokemon Details Container
    4. Pokemon Info Card
    5. Image Styling
    6. Unordered List Styling
    7. Measurements
    8. Navigation Button Styling
    9. Responsive Adjustments
    10. Statistics Section
////////////////////////////////////////////////////////////////////////*/

/* 1. Global Styles */
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 2. Typography */
p {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
}

h1 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Pokemon', sans-serif;
    color: #333;
    text-transform: capitalize;
}

h2 {
    margin: 0px;
    font-family: 'Pokemon', sans-serif;
    color: #555;
    font-size: 25px !important;
}

/* 3. Containers */
/* 3.1 Parent Container */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* 3.2 Pokemon Details Container */
.pokemon-details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background: #D9D9D9;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
}

/* 4. Pokemon Info Card */
.pokemon-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    box-sizing: border-box;
    flex: 1 1 auto;
    min-width: 300px;
    max-height: 750px;
}

.details-section {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 5. Image Styling */
.pokemon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 200px;
}

.pokemon-image {
    width: 100%;
    max-width: 260px;
    height: auto;
    max-height: 260px;
    margin-bottom: 10px;
    flex: 1 1 auto;
    min-width: 150px;
}

/* 6. Unordered List Styling */
.pokemon-info ul {
    padding-left: 0;
    overflow: hidden;
    word-wrap: break-word;
    list-style: none;
    margin: 0;
}

.pokemon-info li {
    padding: 5px 0;
    word-wrap: break-word;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* 7. Measurements */
.Measurements {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.measurement {
    padding: 5px;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

.measurement svg {
    color: gray;
    font-size: 20px;
}

/* 8. Navigation Button Styling */
.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.pokemon-image-container .nav-button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    top: 50%;
    font-size: 24px;
    padding: 20px;
    z-index: 10;
}

/* 9. Responsive Adjustments */
@media (max-width: 600px) {
    .pokemon-info {
        width: 95%;
        padding: 10px;
    }

    .pokemon-image {
        max-width: 200px;
        max-height: 200px;
    }

    .details-flex-container {
        flex-direction: column;
    }

    .back-button {
        font-size: 24px;
    }

    .pokemon-image-container .nav-button {
        font-size: 20px;
    }
}

/* 10. Statistics Section */
.statistics-section {
    margin-top: 20px;
    width: 100%;
}

.statistics-bars {
    display: flex;
    justify-content: space-around;
    height: 150px;
}

.stat-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 15%;
    margin: 0 5px;
}

.stat-name {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
    height: 50px;
}

.bar-container {
    background-color: #e0e0e0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.bar {
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    z-index: 1;
}

.info-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #007bff;
    cursor: pointer;
    display: none;
}

.pokemon-item:hover .info-icon {
    display: block;
}
