body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.general-container {
    background-color: #D9D9D9;
    padding-top: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    margin-right: 20%;
    max-width: 1200px;
    margin-left: 20%;
    padding-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.outer-container {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%; /* Ensure it takes the full width of the parent */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.datagrid-container {
    background-color: white;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datagrid-container .MuiDataGrid-root {
    border: none;
    font-size: 14px;  /* Increase font size for better readability */
}

.MuiDataGrid-columnHeaders {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.MuiDataGrid-cell {
    color: #333;
    border-color: #e0e0e0;
}

.MuiDataGrid-cell:focus-within {
    outline: none;
}

.MuiDataGrid-row:hover {
    background-color: #f1f1f1;
}

.MuiDataGrid-cellContent {
    padding: 8px;
}

.loading-error-container {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #ff6b6b;
}

.MuiDataGrid-cell {
    height: auto !important;
    white-space: normal !important;
}

.MuiDataGrid-row {
    min-height: 100px;
}

.MuiDataGrid-cell img {
    border-radius: 4px; /* Rounded corners for the images */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for the images */
}

.MuiDataGrid-columnHeaders, .MuiDataGrid-footerContainer {

    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; /* Make header text uppercase */
}

.MuiDataGrid-toolbarContainer {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-bottom: 1px solid #ccc;
}

.MuiDataGrid-footerContainer {
    border-top: 1px solid #ccc;
}

.MuiDataGrid-toolbarContainer button {
    background-color: #2e7d32;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.MuiDataGrid-toolbarContainer button:hover {
    background-color: #1b5e20;
}

.MuiDataGrid-cell--withRenderer {
    display: flex;
    align-items: center;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle{
    color: darkgray;
}