/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Containers
        2.1 General Container
        2.2 Main Container
        2.3 Outer Container
    3. DataGrid
        3.1 DataGrid Container
        3.2 DataGrid Cell
        3.3 DataGrid Row
        3.4 DataGrid Headers
        3.5 DataGrid Toolbar
////////////////////////////////////////////////////////////////////////*/

/* 1. Global Styles */
body {
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 2. Containers */
/* 2.1 General Container */
.general-container {
    background-color: #D9D9D9;
    padding-top: 15px;
}

/* 2.2 Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    margin-right: 20%;
    max-width: 1200px;
    margin-left: 20%;
    padding-top: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* 2.3 Outer Container */
.outer-container {
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/* 3. DataGrid */
/* 3.1 DataGrid Container */
.datagrid-container {
    background-color: white;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.datagrid-container .MuiDataGrid-root {
    border: none;
    font-size: 14px;
}

/* 3.2 DataGrid Headers */
.MuiDataGrid-columnHeaders {
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.MuiDataGrid-columnHeaders, .MuiDataGrid-footerContainer {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

/* 3.3 DataGrid Cell */
.MuiDataGrid-cell {
    color: #333;
    border-color: #e0e0e0;
    height: auto !important;
    white-space: normal !important;
}

.MuiDataGrid-cell:focus-within {
    outline: none;
}

.MuiDataGrid-cellContent {
    padding: 8px;
}

.MuiDataGrid-cell img {
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.MuiDataGrid-cell--withRenderer {
    display: flex;
    align-items: center;
}

/* 3.4 DataGrid Row */
.MuiDataGrid-row {
    min-height: 100px;
}

.MuiDataGrid-row:hover {
    background-color: #f1f1f1;
}

/* 3.5 DataGrid Toolbar */
.MuiDataGrid-toolbarContainer {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-bottom: 1px solid #ccc;
}

.MuiDataGrid-toolbarContainer button {
    background-color: #2e7d32;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.MuiDataGrid-toolbarContainer button:hover {
    background-color: #1b5e20;
}

.loading-error-container {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #ff6b6b;
}

.css-t89xny-MuiDataGrid-columnHeaderTitle {
    color: darkgray;
}
