/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Containers
        1.1 Pokemon Container
    2. Cards
        2.1 Pokemon Card
        2.2 Pokemon Image
////////////////////////////////////////////////////////////////////////*/

/* 1. Containers */
/* 1.1 Pokemon Container */
.pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: white;
    padding-left: 150px;
    padding-right: 150px;
}

/* 2. Cards */
/* 2.1 Pokemon Card */
.pokemon-card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    text-align: center;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 2.2 Pokemon Image */
.pokemon-card img {
    width: 175px;
    height: 202px;
    object-fit: contain;
    display: block;
    margin: auto;
}
